<footer>
    <div class="container">
        <div class="footer__inner">
            <div class="footer-info">
                <div class="footer-logo">
                    petshop
                </div>
                <div class="footer-adress">
                    5th Floor, A-118,<br>
                    Sector - 136, Noida, Uttar Pradesh - 201306
                </div>
                <div class="footer-mail">
                    petshop@animalsafiety.com
                </div>
            </div>
            <div class="footer-social">
                <ul class="footer-social__nav">
                    <li class=""><a class="social_nav__link" href="instagramm.com">instagramm</a></li>
                    <li class=""><a class="social_nav__link" href="facebook.com">facebook</a></li>
                    <li class=""><a class="social_nav__link" href="twitter.com">twitter</a></li>
                    <li class=""><a class="social_nav__link" href="telegram.com">telegram</a></li>
                </ul>
            </div>
            <div class="footer-works">
                <div class="works-hours">
                    <div class="hours">8:00 am - 9:00 pm</div>
                    <div class="days">day of : saturday, sunday</div>
                </div>
                <div class="works-info">
                    we non - commerce organization,<br>
                    if you want to help us, use patreon
                </div>
            </div>
            <div class="footer-text">
                5th Floor, A-118,<br>
                Sector - 136, Noida, Uttar Pradesh - 201306
            </div>
            <div class="footer-nav">
                <ul class="footer-nav">
                    <li class=""><a class="footer-nav__link" href="/">home</a></li>
                    <li class=""><a class="footer-nav__link" href="/about">about</a></li>
                    <li class=""><a class="footer-nav__link" href="/contact">contacts</a></li>
                    <li class=""><a class="footer-nav__link" href="/cat/create">create</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>