<header>
    <div class="container">
        <div class="header__inner">
            <div class="header-logo">
                <a href="/">petshop</a>
            </div>
            <div class="header-nav">
                <div>
                    <a href="/" class="nav__link">home</a>
                    <a href="/about" class="nav__link">about</a>
                    <a href="/contacts" class="nav__link">contacts</a>
                    <a href="/cat/create" class="nav__link">create</a>
                </div>
            </div>
        </div>
    </div>
</header>