@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
    --main-color: #fff;
    --font-color: #252525;
    --footer-color: #EFEFEF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--font-color);
    background-color: var(--main-color);
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

/* ============= HEADER ===================== */

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.header-logo {
    font-size: 48px;
    font-weight: 100;
}

.header-logo a {
    text-decoration: none;
    color: var(--font-color);
}

.header-menu {
    display: none;
}

.nav__link {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: var(--font-color);
    margin-right: 50px;
    transition: .3s ease-in-out;
}

.nav__link.active {
    color: red;
}

.nav__link:last-child {
    margin-right: 0px;
}

.nav__link:hover {
    border-bottom: 1px solid #252525;
}

/* ============= MAIN ===================== */

.main__inner {
    display: flex;
    align-items: center;
    padding: 84px 0px 160px 0px;
}

.main-img {
    display: flex;
}

.main-img img {
    width: 32.5rem;
    border-radius: 6px;
}

.main-offer {
    font-size: 48px;
    font-weight: 300;
    margin-left: 88px;
}

/* ============= CATS ===================== */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card, .cat-card {
    width: 25.3333%;
    border-radius: 6px;
    margin-bottom: 90px;
    box-shadow: 4px -4px 40px 4px rgba(0, 0, 0, 0.04);
    text-decoration: none;
    color: var(--font-color);
    transition: .3s ease-in-out;
}

.cat-card:hover {
    box-shadow: 4px -4px 40px 4px rgba(0, 0, 0, 0.2);
}

.card-image {
    display: flex;
}

.card-image img {
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    height: 337px;
}

.card-info {
    display: flex;
    padding: 20px;
}

.card-datas {
    margin-left: 30px;
}

.card-label {
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 15px;
}

.card-data {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    word-break: break-all;
}

/* ============= FOOTER ===================== */

footer {
    background-color: var(--footer-color);
    font-weight: 300;
    font-size: 14px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 60px 0px;
}

.footer-logo {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.footer-adress {
    margin-bottom: 10px;
}

.footer-social__nav {
    margin: 0px;
    padding: 0px;
}

.footer-social__nav li {
    list-style-type: none;
    margin-bottom: 10px;
}

.social_nav__link {
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color);
}

.social_nav__link:hover {
    border-bottom: 1px solid #252525;
}

.works-hours {
    margin-bottom: 30px;
}

.hours {
    margin-bottom: 10px;
}

.footer-nav {
    margin: 0px;
    padding: 0px;
    ;
}

.footer-nav li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-nav__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

.footer-nav__link:hover {
    border-bottom: 1px solid #252525;
}

/* ============= ERROR 404 ===================== */

.error {
    padding: 77px 0px 125px 0px;
}

.error__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error-text {
    display: flex;
    align-items: center;
}

.error-title {
    font-size: 250px;
    font-weight: 400;
}

.suptitle_err {
    font-size: 36px;
    font-weight: 100;
    margin-left: 34px;
    padding-top: 16px;
}

.subtitle_err {
    font-size: 150px;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 10px;
}

.error-image {
    justify-content: flex-end;
    display: flex;
    width: 36%;
}

.error-image img {
    display: flex;
    width: 100%;
    height: 595px;
    border-radius: 6px;
}

/* ============= DETAILS ===================== */

.main .container .main__inner.detail {
    align-items: flex-start;
}

.main-slider {
    width: 50%;
    position: relative;
}

.slick-arrow {
    position: absolute;
    bottom: 0px;
    padding: 0;
    z-index: 10;
    font-size: 0;
    background-color: transparent;
    border: transparent;
    width: 200px;
    height: 10px;
    cursor: pointer;
}

.slick-arrow.slick-prev {
    left: 10px;
    background: url('../images/arrow-left.svg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
    right: 10px;
    background: url('../images/arrow-right.svg') 0 0 / 100% no-repeat;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slider__item {
    display: flex;
    margin: 0px 10px 0px 10px;
    height: 478px;
}

.slider__item img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.main-info {
    padding-left: 182px;
    display: flex;
}

.info-labels {
    margin-right: 60px;
}

.label-text {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 34px;
}

.titles-text {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 34px;
}

.slick-dots {
    padding: 0;
    margin: 31px 0px 0px 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li button {
    font-size: 0px;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: #ebebeb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: #c4c4c4;
}

.slick-dots li button:hover, button:focus {
    outline: none;
}

.slick-dots li.slick-active button:focus {
    border: transparent;
}

.slick-dots li {
    margin: 0px 10px 0px 10px;
}

/* ============= CREATE ===================== */

.create {
    padding: 80px 0px 180px 0px;
}

.create__inner {
    display: flex;
}

.create-image {
    display: flex;
    width: 80%;
    margin-right: 144px;
}

.create-image img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.create-title {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 30px;
}

.create-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create__form {
    display: flex;
    flex-direction: column;
}

.create-form .form-part {
    display: flex;
    width: 100%;
}

.form-part {
    margin-bottom: 25px;
    align-items: center;
}

.form-part label {
    width: 20%;
    font-size: 24px;
    font-weight: 100;
    margin-right: 30px;
}

.file {
    position: relative;
}

.file::-webkit-file-upload-button {
    visibility: hidden;
}

.file::before {
    content: '';
    background: url('../images/add.svg') 0 0 / 100% no-repeat;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}

.form-part input, textarea, select, option {
    width: 80%;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding: 13px 25px;
    background-color: #fff;
}

.form-select {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
}

.form-select::after {
    content: "";
    background: url('../images/arrow-down.svg') 0 0 / 100% no-repeat;
    width: 25px;
    height: 25px;
    bottom: 0;
    right: 15px;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-part select {
    width: 98%;
    position: relative;
}

.form__btn {
    font-size: 24px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    padding: 17px 0px;
}

/* ============= MOBILE RESOLUTION ===================== */

@media (max-width: 500px) {
    header {
        position: fixed;
        background-color: #fff;
        border-radius: 0px 0px 6px 6px;
    }
    .header-logo a {
        font-size: 30px;
    }
    .header-logo {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    .header-el {
        display: flex;
    }
    .header-menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 30px;
    }
    .header-menu img {
        width: 25%;
    }
    .header-nav {
        position: relative;
    }
    .header__inner {
        display: block;
        padding: 15px 0px 15px 0px;
    }
    .show {
        display: flex !important;
        animation: .3s fadeIn ease-in-out;
    }
    .nav {
        /* display: flex; */
        display: none;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 20px;
    }
    .nav__link {
        margin-bottom: 20px;
    }
    .nav__link:hover {
        border-bottom: none;
        color: #727272;
    }
    .main {
        padding-top: 70px;
    }
    .main__inner {
        flex-direction: column;
        padding: 0;
    }
    .main-offer {
        font-size: 24px;
        text-align: center;
        margin: 10px 0px 30px 0px;
    }
    .main-img {
        box-shadow: inset 0px -100px 80px #fff;
    }
    .main-img img {
        width: 100%;
        box-shadow: inset 0px -100px 80px #fff;
    }
    .cards {
        display: block;
    }
    .card-info {
        justify-content: space-between;
    }
    .card-datas {
        margin-right: 50px;
    }
    .card-data {
        font-size: 15px;
    }
    .card-label {
        font-size: 15px;
    }
    .card-image img {
        height: 210px;
        width: 100%;
    }
    .cat-card {
        margin-bottom: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        display: block;
        border-radius: 6px 6px 6px 6px;
    }
    .footer__inner {
        display: block;
        padding: 20px 0px 10px 20px;
    }
    .footer-info {
        margin-bottom: 10px;
    }
    .footer-adress {
        margin-bottom: 5px;
    }
    .footer-social__nav {
        margin-bottom: 10px;
    }
    .footer-social__nav li {
        margin-bottom: 5px;
    }
    .hours {
        margin-bottom: 5px;
    }
    .works-hours {
        margin-bottom: 10px;
    }
    .works-info {
        margin-bottom: 10px;
    }
    .footer-text {
        margin-bottom: 10px;
    }
    /* CREATE ==================================== */
    .create {
        padding: 60px 0px 50px 0px;
        text-align: center;
    }
    .create-image {
        display: none;
    }
    .create-title {
        font-size: 24px;
        padding: 20px 0px 0px 0px;
    }
    .create-form {
        /* display: ; */
        width: 100%;
    }
    .create-form .form-part {
        flex-direction: column;
    }
    .form-part .file {
        color: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-bottom: -200px;
    }
    to {
        opacity: 1;
        margin-bottom: 0;
    }
}