<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>

    <body>
        <%- include('../partials/_header') %>
            <div class="error">
                <div class="container">
                    <div class="error__inner">
                        <div class="error-text">
                            <div class="error-title">
                                404
                            </div>
                            <div class="error-subtitle">
                                <div class="suptitle_err">
                                    page not found
                                </div>
                                <div class="subtitle_err">
                                    error
                                </div>
                            </div>
                        </div>
                        <div class="error-image">
                            <img src="/images/cat-error404.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/_footer') %>
    </body>

</html>